.pheader {
  text-align: center;
  border-bottom: 1px solid grey;
}
.pheader ul {
  list-style: none;
  padding: 0;
}
.pheader ul li {
  display: inline-block;
  margin-right: 20px;
}
.pheader ul li a {
  text-decoration: none;
  color: black;
}
